{% extends "webtemplate_residuos.html" %}
{% load has_group %}
{% load custom_filters_1 %}
{% load static %}

<head><!-- Permite invocar archivos estáticos -->
    {% block head %}


    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Incluir SweetAlert2 desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <!-- Llama Script  que envía la información al servidor -->
    <script src="{% static 'inventarioreac/js/sendInfoRegistro.js' %}" defer></script>
    <!-- Llama Script  que coloca función al botón cancelar -->
    <script src="{% static 'inventarioreac/cancelButtonFunction.js' %}" defer></script>
    <!-- Llama Script  que controla selectores -->
    <script src="{% static 'inventarioreac/js/selectorControl.js' %}" defer></script>



    {% endblock %}


    <title>{% block title %}Registro de residuos{% endblock %}</title>
</head>

<body>

    {% block content %}




    <div class="col-lg-10 container container-list">
        <div class="row">
            <!-- Primera columna con el formulario -->
            <div class="col-lg-5 col-md-5">

                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12" style="margin-left: 3%;">
                        <div class="form-group col-lg-12 col-md-12">
                            <div id="loading-message" style="display: none;">Por favor espere...</div>

                            <h1 class="text-center" style="margin-top: 20px;">Registro de residuos</h1>
                            <br>
                            <h4 class="text-left">¡Bienvenido!</h4>
                            <p style="text-align: justify;">Complete el siguiente formulario para registrar sus residuos
                            </p>
                        </div>

                        <form method="post" enctype="multipart/form-data" class="needs-validation"
                            style="margin-top: 20px;" id="registro_residuos_form">
                            {% csrf_token %}

                            <div class="form-group col-lg-12 col-md-12">
                                <div style="margin-bottom: 5px;">
                                    {{ form.dependencia.label_tag }}
                                </div>
                                {% if request.user|has_group:"ADMINISTRADOR" or request.user.is_superuser or request.user|has_group:"ADMINISTRADOR AMBIENTAL" %}

                                {{ form.dependencia }}
                                {% else %}
                                <select name="dependencia" id="id_dependencia" class="form-control">
                                    <option value="">---------</option>
                                    <option value="Laboratorio">Laboratorio</option>
                                </select>
                                {% endif %}

                                <div style="color: red; margin-top: 5px; font-weight: bold; margin-left: -10px;">
                                    {{ form.dependencia.errors }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-md-12" id="area-container">
                                <div style="margin-bottom: 5px;">
                                    {{ form.area.label_tag }}
                                </div>
                                {{ form.area }}
                                <div style="color: red; margin-top: 5px; font-weight: bold; margin-left: -10px;">
                                    {{ form.area.errors }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-md-12" id="lab-container">
                                <div style="margin-bottom: 5px;">
                                    {{ form.laboratorio.label_tag }}
                                </div>


                                {% if request.user|has_group:"ADMINISTRADOR" or request.user.is_superuser or request.user|has_group:"ADMINISTRADOR AMBIENTAL" %}
                                {{ form.laboratorio }}
                                {% else %}
                                <select name="laboratorio" id="id_laboratorio" class="form-control">
                                    {% for lab in laboratorios %}
                                    {% if lab.id == lab_id %}
                                    <option value="{{ lab.id }}" selected="">{{ lab.name }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>

                                {% endif %}


                                <div style="color: red; margin-top: 5px; font-weight: bold; margin-left: -10px;">
                                    {{ form.laboratorio.errors }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-md-12">
                                <div style="margin-bottom: 5px;">
                                    {{ form.nombre_residuo.label_tag }}
                                </div>
                                {{ form.nombre_residuo }}
                                <div style="color: red; margin-top: 5px; font-weight: bold; margin-left: -10px;">
                                    {{ form.nombre_residuo.errors }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-md-12">
                                <div style="margin-bottom: 5px;">
                                    {{ form.cantidad.label_tag }}
                                </div>
                                {{ form.cantidad }}
                                <div style="color: red; margin-top: 5px; font-weight: bold; margin-left: -10px;">
                                    {{ form.cantidad.errors }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-md-12">
                                <div style="margin-bottom: 5px;">
                                    {{ form.unidades.label_tag }}
                                </div>
                                {{ form.unidades }}
                                <div style="color: red; margin-top: 5px; font-weight: bold; margin-left: -10px;">
                                    {{ form.unidades.errors }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-md-12">
                                <div style="margin-bottom: 5px;">
                                    {{ form.numero_envases.label_tag }}
                                </div>
                                {{ form.numero_envases }}
                                <div style="color: red; margin-top: 5px; font-weight: bold; margin-left: -10px;">
                                    {{ form.numero_envases.errors }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-md-12">
                                <div style="margin-bottom: 5px;">
                                    {{ form.clasificado.label_tag }}
                                </div>
                                {{ form.clasificado }}
                                <div style="color: red; margin-top: 5px; font-weight: bold; margin-left: -10px;">
                                    {{ form.clasificado.errors }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-md-12">
                                <div style="margin-bottom: 5px;">
                                    {{ form.estado.label_tag }}
                                </div>
                                {{ form.estado }}
                                <div style="color: red; margin-top: 5px; font-weight: bold; margin-left: -10px;">
                                    {{ form.estado.errors }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-md-12 text-center">
                                <button type="button" class="btn btn-success"
                                    onclick="limpiarCampos('registro_residuos_form')">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Registrar Residuo</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <!-- Segunda columna con la imagen representativa -->
            <!-- Segunda columna con la imagen representativa -->
            <div class="col-lg-4 col-md-4"
                style="padding: 2%; margin: 12%; margin-left: 12%; display: flex; justify-content: center; align-items: center;">
                <img src="{% static 'inventarioreac/Images/UniCLab_Residuos_logo_2.png' %}"
                    alt="Clasificación de residuos" class="img-responsive"
                    style="border-radius: 50%; border: 1px solid #ffffff; box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);">
            </div>

        </div>
    </div>


    {% endblock %}




</body>

</html>