{% extends "webtemplate_residuos.html" %}
{% load has_group %}
{% load static %}
{% load custom_filters_1 %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Detalle de registro de residuos{% endblock %}</title>
    {% block head %}

    <script>
        url = "{% url 'residuos:delete_pdf' %}"
        pdf_filename = "{{ pdf_filename }}"
        solicitud = "{{ solicitud }}"
        console.log(solicitud)
    </script>
    <!-- Llama Script  que cierra ventana envía notificación y borra PDF -->
    <script src="{% static 'inventarioreac/js/ClearPDF.js' %}" defer></script>



    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="col-lg-12 col-md-12 container-detalle">
        <h3 style="text-align: center;">Detalle de solicitud #{{ solicitud }}</h3>

        <br>
        {% if request.user|has_group:"ADMINISTRADOR" or request.user.is_superuser or request.user|has_group:"ADMINISTRADOR AMBIENTAL" %}
        <div class="text-md-left">

            {% if registro.respondido %}
            <p style="color: #555; font-size: 14px; margin-bottom: 10px;">Ya se ha dado respuesta a este registro de
                residuos</p>
            {% else %}
            <button type="button" class="btn btn-default" style="margin-bottom: 10px;" onclick="cerrarVentana()">Cerrar
                Ventana</button>
            {% endif %}



        </div>
        {% endif %}
        <br>
        <div class="text-center" style="width: 100%; color: transparent;">
            <embed src="{{ pdf_url }}" type="application/pdf" id="pdf-viewer">
            ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        </div>
        <!-- Opciones de exportación -->
<div class="card-footer text-md-left">
    <a href="{% url 'residuos:export_2_xls_wastes_rp1' solicitud|double_base64_encode %}" class="btn btn-default" style="color: #555;">Descargar .xlsx</a>
</div>

    </div>



    {% endblock %}


</body>

</html>