APScheduler==3.10.4
Babel==2.14.0
Django==5.0.4
django-apscheduler==0.6.2
django-crispy-forms==2.1
django-import-export==3.3.8
django-recaptcha==4.0.0
django-simple-captcha==0.6.0
dj-database-url==2.1.0
html2text==2024.2.26
openpyxl==3.1.2
pillow==10.3.0
psycopg==3.1.18
psycopg2==2.9.9
reportlab==4.1.0
requests==2.31.0